---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic'); /*폰트 나눔고딕 추가*/

//anchor underline 없애기
a{
  text-decoration-line: none;
}

//smooth-scroll 적용
html{
  scroll-behavior: smooth;
}

//single layout에서 author_profile과 우측 padding 없애기
.page{
  width: 100%;
  padding: 0px;
}

//헤더 고정으로 인한 anchor tag 위치 조정
section:before{
    display: block;
    content: " ";
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
}

h2.archive__subtitle {
  margin: 0px;
}

pre, code {
  background-color: #000 !important;
  color: #fff !important;
}

